@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

@font-face {
  font-family: MyanmarSansPro;
  src: url(fonts/MyanmarSansPro.ttf);
}

body {
	font-family: 'Baskervville', serif;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

a {
	text-decoration: none;
}

.burmese-text {
	font-family: MyanmarSansPro;
}

.slogan {
	font-size: 3rem;
}

.fuck-jojo {
	font-size: 5rem;
	background: #fff;
    padding: 50px;
    border: 1px solid #222;
}

.jojo {
	margin: 5px;
}

.jojo.o {
	position: relative;
	top: -17px;
}

.white-area, .black-area {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0rem 1rem;
	align-items: center;
}

.white-area {
	color: #222;
	background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAH0lEQVQoU2NkYGD4z8DAwMhAABBUANM/qhBvSBIdPACgdAELiyknowAAAABJRU5ErkJggg==
   ) repeat;
}

.item {
	width: auto;
	display: block;
	text-align: center;
	margin: 20px 0px;
}

.btn {
	font-family: 'Baskervville';
    padding: 20px;
    background: #222;
    color: #fff;
    font-size: 1.2rem;
}

.black-area {
	background: #222;
	color: #fff;
}

.center-contents {
	text-align: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.slogan {
  		font-size: 2rem;
  	}
  	.fuck-jojo {
  		font-size: 4rem;
  	}
}